[Unit]
Description=Gunicorn instance to serve TechNex_Hub
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/TechNex_Hub
Environment="TEK_MYSQL_USER=tek_dev"
Environment="TEK_MYSQL_PWD=tek_dev_pwd"
Environment="TEK_MYSQL_HOST=localhost"
Environment="TEK_MYSQL_DB=tek_dev_db"
Environment="TEK_TYPE_STORAGE=db"
ExecReload=/bin/kill -s HUP $MAINPID
ExecStart=/home/ubuntu/TechNex_Hub/myprojectenv/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 -m 007 wsgi:app
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
