<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DLA Instrumentation Hub</title>

    <!-- Add cache_id variable to the render_template in 0-hbnb.py -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css?v={{ cache_id }}">

    <!-- Bootstrap CSS with cache_id -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css?v={{ cache_id }}" rel="stylesheet">

    <!-- Custom CSS with cache_id -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../styles/custom.css?v=' ~ cache_id) }}">

    <!-- Import JQuery in the <head> tag -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

   
</head>
<body>
    <!-- header section starts -->
    <header class="header">

        <!-- First Navigation Section -->
        <nav class="navbar nav-1">
            <section class="flex">
                <a href="{{ url_for('home') }}" class="logo"><i class="fas fa-cogs"></i>TEK HUB</a>

                <!-- Search and Services Selection Section -->
                <ul>
                    <div class="search-container">
                        <input type="text" placeholder="Search an equipment" id="equipmentSearch">
                        <button type="button">Search</button>
                        
                    </div>
                </ul>
            </section>
        </nav>

        <!-- Second Navigation Section -->
        <nav class="navbar nav-2">
            <section class="flex">
                <div id="menu-btn" class="fas fa-bars"></div>

                <!-- Dropdown Menu -->
                <div class="menu">
                    <ul>
                        <li><a href="#">User <i class="fas fa-angle-down"></i></a>
                            <ul class="dropdown-content">
                                <li><a href="{{ url_for('user_profile') }}">User Profile</a></li>
                                <li><a href="{{ url_for('logout') }}" id="logoutButton">Logout</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Services <i class="fas fa-angle-down"></i></a>
                            <ul class="dropdown-content">
                                <li><a href="{{ url_for('service_request_form') }}">Service Request</a></li>
                                <li><a href="{{ url_for('service_request_details') }}">Request Details</a></li>
                                <li><a href="{{ url_for('services_marketplace') }}">Marketplace</a></li>
                                <li><a href="{{ url_for('service_details') }}">Service Details</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Equipment <i class="fas fa-angle-down"></i></a>
                            <ul class="dropdown-content">
                                <li><a href="{{ url_for('equipment_listings_marketplace') }}">Equipment Listings</a></li>
                                <li><a href="{{ url_for('equipment_details') }}">Equipment Details</a></li>
                            </ul>
                        </li>
                        <li><a href="#">More <i class="fas fa-angle-down"></i></a>
                            <ul class="dropdown-content">
                                <li><a href="{{ url_for('messaging_interface') }}">Messages</a></li>
                                <li><a href="{{ url_for('notifications_center') }}">Notifications</a></li>
                                <li><a href="{{ url_for('suggestions') }}">Suggestions</a></li>
                                <li><a href="{{ url_for('feedback_form') }}">Feedback</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- Additional Navigation Items -->
                <ul>
                    <li><a href="#">saved <i class="far fa-heart"></i></a></li>
                    <li><a href="#">account <i class="fas fa-angle-down"></i></a>
                        <ul class="dropdown-content">
                            <li><a href="{{ url_for('login') }}">login</a></li>
                            <li><a href="{{ url_for('user_registration') }}">register</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </nav>

    </header>
    <!-- header section ends -->

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
            
        <!-- Contact Column -->
        <div class="col">
            
            <h4>Contact</h4>
            <p><strong>Address:</strong> P.O Box 50205-33, Bungoma, Webuye</p>
            <p><strong>Phone:</strong> +254736227248 / +254725633487</p>
            <p><strong>Hours:</strong> 8:00am - 5:00pm, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <!-- About Column -->
        <div class="col">
            <h4>About</h4>
            <a href="about.html">About us</a>
            <a href="privacy.html">Privacy Policy</a>
            <a href="terms.html">Terms & Conditions</a>
            <a href="contact.html">Contact Us</a>
        </div>

        <!-- Copyright Column -->
        <div class="copyright">
            <p>@danwabwile dev.</p>
        </div>
    
</footer>

    <!-- Bootstrap JS and Popper.js (optional, if using Bootstrap components that require it) with cache_id -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js?v={{ cache_id }}"></script>
     <!-- Import the JavaScript static/scripts/register.js in the <head> tag with cache_id -->
</body>
</html>
